* {
    padding: 0;
    border: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

#cover-text h2 {
    text-transform: uppercase;

}

#cover-text {
    color: #fafafa;
    font-family: 'Inter', sans-serif;
    font-size: 125%;
    letter-spacing: 3px;
    width: 225px;
    height: 150px;
    padding: 25px 25px;
    background-color: rgba(255, 60, 60, 0.6);
    bottom: 75px;
    right: 75px;
    position: absolute;
    text-align: center;
}


#hero-outer {
    height: 675px;
    width: 100%;
    overflow: hidden;
    position: relative;

}

@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#hero-image {
    height: 675px;
    width: 100%;
    background: url("../images/hero-image.jpg") no-repeat center center;
    background-size: cover;
    animation-name: hero-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

#logo {
    font-family: 'Inter', sans-serif;
    color: red;
    font-weight: 700;
    letter-spacing: 6px;
    float: left;
    font-size: 300%;
    text-decoration: none;
    margin-left: 30px;
}

#menu {
    font-family: 'Inter', sans-serif;
    font-size: 150%;
    font-weight: 500;
    letter-spacing: 3px;
}

#menu,
#logo {
    line-height: 75px;
}

#menu ul {
    float: right;
    list-style-type: none;
}

#menu li {
    float: left;
    margin-right: 30px;
}

#menu a {
    color: red;
    text-decoration: none;
}

#menu a:hover {
    color: green;
    border-bottom: 1px solid green;
}

.active {
    text-decoration: underline;
    border-bottom: 1px solid red;
}