body {
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Inter', sans-serif;
}

#logo {
    float: left;
    font-family: 'Inter', sans-serif;
    font-size: 110%;
    letter-spacing: 0.1rem;
}

#menu {
    font-size: 105%;
    letter-spacing: 0.1rem;
    list-style-type: none;
    float: right;
    line-height: 0.2rem;
}

#menu li {
    margin-right: 0.1rem;
    float: left;
    line-height: 0.3rem;
}

#menu a {
    text-decoration: none;
    padding-left: 0.1rem;
}

#cover-text {
    clear: both;
}