/* site-wide base styling */

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1,
h2,
h3 {
    font-family: 'Inter', sans-serif;
}

/* navbar styling */

#logo {
    float: left;
    font-family: 'Inter', sans-serif;
    font-size: 150%;
    letter-spacing: 0.1rem;
    color: black;
}

#menu {
    font-size: 105%;
    letter-spacing: 0.1rem;
    list-style-type: none;
    float: right;
    line-height: 2rem;
}

#menu li {
    margin-right: 0.1rem;
    float: left;
}

#menu a {
    text-decoration: none;
    padding-left: 1rem;
    color: black;
}

#menu a:hover {
    border-bottom: 1px solid #000;
}

.active {
    border-bottom: 1px solid #000;
}

/* footer styling */

footer {
    height: auto;
    flex: 0 0 50px;
    width: 100%;
    margin-top: auto;
}

#footer-contact {
    width: 50%;
    border-top: 1px solid #000;
    float: left;
    text-align: center;
    padding-top: 10px;
}

#footer-socials {
    width: 50%;
    border-top: 1px solid #000;
    font-size: 175%;
    float: right;
    text-align: center;
    left: 50%;
    padding-top: 10px;
}

#socials {
    list-style-type: none;
}

#socials a {
    text-decoration: none;
    color: black;
}

#socials li {
    display: inline;
}

/* index page styling */

#hero-image {
    height: 350px;
    width: 100%;
    background: url(../images/mp1-hero-image.jpg) no-repeat center center;
}

#hero-outer {
    height: 350px;
    width: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
    color: white;
}

#cover-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
}

#welcome {
    text-align: center;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5rem;
}

#why-and-reasons {
    padding-bottom: 10px;
    text-align: center;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5rem;
}

#why-join {
    text-align: center;
    text-transform: uppercase;
}

.reasons {
    text-align: center
}

/* classes page styling */

table, th, td {
    border: 1px solid;
}

#classes-intro {
    text-align: center;
    clear: both;
}

#classes-timetable {
    width: 100%;
    border-collapse: collapse;
}

#enquiries {
    margin: 0 auto;
    text-align: center;
}

/* sign-up page styling */

label, input {
    display: block;
    padding: 5px 8px;
    width: 80%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

#form-intro {
    clear: both;
    max-width: 600px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#form {
    width: 33%;
    border: 1px solid black;
    margin: auto;
    padding-bottom: 10px;
}

#thank-you {
    text-align: center;
}

input[type="radio"] {
    display: inline;
    width: 10%;
}

#genders {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#genders > label {
    display: inline;
}

button {
    width: 20%;
}

#btn-container {
    text-align: center;
    padding-top: 8px;
}

/* media queries */

@media only screen and (max-width: 600px) {
    #menu {
        clear: both;
        margin: auto;
   }

    #classes-timetable {
        font-size: 50%;
    }

    #form {
        width: 100%;
    }
}

@media only screen and (max-width: 1200px) {
    #form {
        width: 75%;
    }

    body {
        margin: 0 5%;
    }
}

@media only screen and (min-width: 1200px) {
    body {
        margin: 0 15%;
    }
}